<header class="navigation" role="banner">
  <div class="navigation-wrapper <%= @clear_navbar? + 'clear' : '' %>">
    <a href="javascript:void(0)" class="logo">
      <!--<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo Image">
    </a>-->
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu">
        <li class="nav-link left"><%= link_to 'Camelot Chess', root_path %></li>
        <% if user_signed_in? %>
        <li class="nav-link"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        <li class="nav-link"><%= link_to 'Join Game', games_path %></li>
        <li class="nav-link email"><%= link_to 'Create Game', new_game_path %></li>
        <li class="nav-link"><%= link_to 'My Profile', user_path(current_user) %></li>
        <% else %>
        <li class="nav-link"><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li class="nav-link"><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
