<div class="promo-modal">
  <input class="modal-state" id="promotion-modal" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="promotion-modal"></div>
      <p class="modal-intro">Pawn Promotion!</p>
      <p class="modal-content">Please select your piece:</p>
      <form action="#" class="promotion-choice">
        <div class="promotion-container">
        
          <%= if piece == "queen" || piece == "bishop" || piece == "rook" || piece == "knight" do |name| %>
            <div class="select-promo-choice">              
              <label for="<%= name.downcase %>">
                <%= current_user.color.name.piece_image %>
              </label>
              <input type="radio" name="piece-type" value="<%= name %>" id="<%= name.downcase %>">
            </div>
          <% end %>
          
        </div>
        <div class="submit-promo-choice">
          <input type="submit">
        </div>
      </form>

    </div>
  </div>
</div>
