<script>
// var borderChange = $( 'td.piece-square' ).on("click", function() {
//   $(this).css('border-color', 'red');

// });

// AJAX PUT requyest to URL with x, y (as params)
      // handle response from this request
      // e.g. return 
      // { ok: true }
      // check if OK, if not show error or move back

$( function() {
  $( ".piece" ).draggable({
    snap: ".piece-square",
    grid: [60, 60],
    containment: ".game-board",
  });

    
  $( ".piece-square" ).droppable({
    accept: ".piece",
    drop: function( event, ui ) {
      var x = $(event.target).data('x');
      var y = $(event.target).data('y');
      var urlUpdatePath = $('.ui-draggable-dragging').data('url');
      console.log(x);
      console.log(y);
      console.log(urlUpdatePath);
         
      $.ajax({
        type: 'PUT',
        url: urlUpdatePath,
        data: { piece: { x_position: x, y_position: y }  },
        success: function(response) {
          if(response == 'OK') {
            console.log(response);
          } else {
            alert(response);
          }
          // cause the page to refresh to align the moved piece on the square.
          //Turbolinks.visit(window.location, { action: 'replace' }); 
          //location.reload();
        }
        
        });
 
      }
    });
  
  });

</script>


<h2 class="game-title">Chess Board</h2>

<table class="game-board">
  <% 7.downto(0) do |row| %>
    <tr>
      <% 0.upto(7) do |col| %>

        <td class="piece-square ui-droppable" data-x="<%= col %>" data-y="<%= row %>">
          <% @pieces.each do |piece| %>
            <% if piece.x_position == col && piece.y_position == row %>
              <div class="piece" data-url="<%= game_piece_path(piece.game, piece) %>">
                <%= image_tag(piece.piece_image) %>
              </div>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>


<div class="buttons">
  <%= render 'partials/endGameButton' %>
</div>
