<script>
// var borderChange = $( 'td.piece-square' ).on("click", function() {
//   $(this).css('border-color', 'red');

// });

// AJAX PUT requyest to URL with x, y (as params)
      // handle response from this request
      // e.g. return
      // { ok: true }
      // check if OK, if not show error or move back

$( function() {
  $( ".piece" ).draggable({
    containment: ".game-board",
    start: function(event, ui) {
    var urlUpdatePath = $(event.target).data('url');
   
    $( ".piece-square" ).droppable({
    greedy: true,
    accept: ".piece",
    drop: function( event, ui ) {
      var x = $(event.target).data('x');
      var y = $(event.target).data('y');
      console.log(x);
      console.log(y);
      console.log(urlUpdatePath);

      $.ajax({
        type: 'PUT',
        url: urlUpdatePath,
        data: { piece: { x_position: x, y_position: y }  },
        success: function(response) {
          if(response == 'OK') {
            console.log(response);
          } else {
            alert(response);
          }
          // cause the page to refresh to allign the moved piece on the square.
          //Turbolinks.visit(window.location, { action: 'replace' });
          location.reload(true); 
        }

        });

      }
    });
    }
  });
});
</script>

<div class="game-board-container">
  <h2 class="game-title"><%= @game.name %></h2>

  <table class="game-board">
    <% 7.downto(0) do |row| %>
      <tr>
        <% 0.upto(7) do |col| %>

          <td class="piece-square ui-droppable" data-x="<%= col %>" data-y="<%= row %>">
            <% @pieces.each do |piece| %>
              <% if piece.x_position == col && piece.y_position == row %>
                <div class="piece" data-url="<%= game_piece_path(piece.game, piece) %>">
                  <%= image_tag(piece.piece_image) %>
                </div>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<%= render 'partials/forfeit_button' %>



