<!-- <script>
// var borderChange = $( 'td.piece-square' ).on("click", function() {
//   $(this).css('border-color', 'red');

// });

$( function() {
  $( ".piece" ).draggable();
  $( ".piece-square" ).droppable({
    accept: ".piece",
    drop: function( event, ui ) {
      console.log($('.ui-draggable').data('url'));
      console.log($(event.target).data('x'));
      console.log($(event.target).data('y'));
      // AJAX PUT requyest to URL with x, y (as params)
      // handle response from this request
      // e.g. return
      // { ok: true }
      // check if OK, if not show error or move back
    }
  });
} );
</script> -->

<h2 class="game-title">Chess Board</h2>

<!-- <table class="game-board">
  <% 7.downto(0) do |row| %>
    <tr>
      <% 0.upto(7) do |col| %>

        <td class="piece-square ui-droppable" data-x="<%= col %>" data-y="<%= row %>">
          <% @pieces.each do |piece| %>
            <% if piece.x_position == col && piece.y_position == row %>
              <div class="piece" data-url="<%= game_piece_path(piece.game, piece) %>">
                <%= image_tag(piece.piece_image) %>
              </div>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table> -->

<table class="game-board">
  <% 7.downto(0) do |row| %>
    <tr>
      <% 0.upto(7) do |col| %>

        <td class="piece-square" data-x="<%= col %>" data-y="<%= row %>">
          <% @pieces.each do |piece| %>
            <% if piece.x_position == col && piece.y_position == row %>
              <%= link_to image_tag(piece.piece_image), game_piece_path(piece.game, piece) %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="buttons">
  <%= render 'partials/endGameButton' %>
</div>
