<!DOCTYPE html>
<html>
  <head>
    <title>Camelotchess</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Cutive+Mono|Montserrat|Rubik+Mono+One" rel="stylesheet">
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <%= yield %>
    <%= render 'partials/create_join' %>
  </body>
</html>
